In [8]:
import pandas as pd

df=pd.read_excel('../data/Food Delivery Time Prediction Case Study.xlsx')
df.drop(df[['ID','Delivery_person_ID','Type_of_order']],axis=1,inplace=True)

In [9]:
from geopy.distance import geodesic

def compute_distance(row):
    rest=(row['Restaurant_latitude'],row['Restaurant_longitude'])
    delv=(row['Delivery_location_latitude'],row['Delivery_location_longitude'])
    return geodesic(rest,delv).km
df['distance']=df.apply(compute_distance,axis=1)

In [10]:
df.drop(df[['Restaurant_longitude','Restaurant_latitude','Delivery_location_latitude','Delivery_location_longitude']],axis=1,inplace=True)

In [11]:
df=df[df['distance']<100]

In [12]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Type_of_vehicle,Time_taken(min),distance
0,37,4.9,motorcycle,24,3.020737
1,34,4.5,scooter,33,20.143737
2,23,4.4,motorcycle,26,1.549693
3,38,4.7,motorcycle,21,7.774497
4,32,4.6,scooter,30,6.197898

In [13]:
df['Delivery_person_Ratings']=df['Delivery_person_Ratings'].clip(lower=2.5,upper=5)

In [14]:
from sklearn.preprocessing import LabelEncoder

la=LabelEncoder()
df['Type_of_vehicle']=la.fit_transform(df['Type_of_vehicle'])

In [15]:
from sklearn.preprocessing import StandardScaler

colms=['Delivery_person_Age','Delivery_person_Ratings','distance','Type_of_vehicle']

scale=StandardScaler()

df[colms]=scale.fit_transform(df[colms])
df[colms].describe()

,Delivery_person_Age,Delivery_person_Ratings,distance,Type_of_vehicle
count,4.516200e+04,4.516200e+04,4.516200e+04,4.516200e+04
mean,-2.737577e-16,-4.768733e-16,6.710209e-17,-1.384522e-17
std,1.000011e+00,1.000011e+00,1.000011e+00,1.000011e+00
min,-2.554176e+00,-6.823472e+00,-1.474370e+00,-3.748571e+00
25%,-7.975226e-01,-4.252716e-01,-9.045829e-01,-4.159339e-01
50%,-9.486130e-02,2.145484e-01,-9.198187e-02,-4.159339e-01
75%,7.834653e-01,5.344584e-01,7.039196e-01,1.250384e+00
max,3.594110e+00,1.174278e+00,2.004624e+00,1.250384e+00

In [16]:
df.to_csv('../data/cleaned.csv')