In [33]:
import pandas as pd

df=pd.read_excel('../data/Food Delivery Time Prediction Case Study.xlsx')
df.drop(df[['ID','Delivery_person_ID']],axis=1,inplace=True)

In [34]:
from geopy.distance import geodesic

def compute_distance(row):
    rest=(row['Restaurant_latitude'],row['Restaurant_longitude'])
    delv=(row['Delivery_location_latitude'],row['Delivery_location_longitude'])
    return geodesic(rest,delv).km
df['distance']=df.apply(compute_distance,axis=1)

In [35]:
df.drop(df[['Restaurant_longitude','Restaurant_latitude','Delivery_location_latitude','Delivery_location_longitude']],axis=1,inplace=True)

In [36]:
df=df[df['distance']<100]

In [37]:
from sklearn.preprocessing import LabelEncoder

la_order=LabelEncoder()
la_vehi=LabelEncoder()

df['Type_of_vehicle']=la_vehi.fit_transform(df['Type_of_vehicle'])
df['Type_of_order']=la_order.fit_transform(df['Type_of_order'])

In [38]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Type_of_order,Type_of_vehicle,Time_taken(min),distance
0,37,4.9,3,2,24,3.020737
1,34,4.5,3,3,33,20.143737
2,23,4.4,1,2,26,1.549693
3,38,4.7,0,2,21,7.774497
4,32,4.6,3,3,30,6.197898

In [43]:
df['Delivery_person_Ratings']=df['Delivery_person_Ratings'].clip(lower=2.5,upper=5)

In [45]:
from sklearn.preprocessing import StandardScaler

colms=['Delivery_person_Age','Delivery_person_Ratings','distance']

scale=StandardScaler()

df[colms]=scale.fit_transform(df[colms])
df[colms].describe()

       Delivery_person_Age  Delivery_person_Ratings      distance
count         4.516200e+04             4.516200e+04  4.516200e+04
mean         -1.132790e-17             2.013849e-17  7.079940e-18
std           1.000011e+00             1.000011e+00  1.000011e+00
min          -2.554176e+00            -2.620857e-02 -1.474370e+00
25%          -7.975226e-01            -2.620857e-02 -9.045829e-01
50%          -9.486130e-02            -2.620857e-02 -9.198187e-02
75%           7.834653e-01            -2.620857e-02  7.039196e-01
max           3.594110e+00             3.815545e+01  2.004624e+00

In [49]:
import joblib 

joblib.dump(df,'../data/cleaned.joblib')

['../data/cleaned.joblib']